# ignore everything in the root directory by default
/*
# unignore any dot git files
!.git*
# unignore README CHANGELOG and LICENSE
!/README.md
!/CHANGELOG.md
!/LICENSE
# unignore any AudioLink directories and directory meta files
!/AudioLink*/
!/AudioLink*.meta
!/Docs/
!/Docs.meta
# explicitly ignore sandbox media as that should not be included in the repository
/AudioLinkSandbox/Media*