/AudioLinkUnityProject/Assets/UdonSharp/
/AudioLinkUnityProject/Assets/UdonSharp.meta
/AudioLinkUnityProject/Assets/SerializedUdonPrograms/

/AudioLinkSandboxProject/Assets/UdonSharp/
/AudioLinkSandboxProject/Assets/UdonSharp.meta
/AudioLinkSandboxProject/Assets/SerializedUdonPrograms/

/AudioLinkUnityProject/Assets/AmplifyShaderEditor/
/AudioLinkUnityProject/Assets/AmplifyShaderEditor.meta
/AudioLinkSandboxProject/Assets/AmplifyShaderEditor/
/AudioLinkSandboxProject/Assets/AmplifyShaderEditor.meta

/AudioLinkUnityProject/Assets/Samples*
/AudioLinkSandboxProject/Assets/Samples*
/AudioLinkWebProject/Assets/Samples*

/AudioLinkUnityProject/.vscode/
/AudioLinkSandboxProject/.vscode/
/AudioLinkWebProject/.vscode/

/AudioLinkUnityProject/Assets/Scenes*
/AudioLinkSandboxProject/Assets/Scenes*